body{background-color: gray; margin: 0;}
h1{ margin: 0;}
#page{color: darkslateblue;color: black; text-align: center;padding: 20px;margin-top: 10px;}

section{ 
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items:flex-start;margin-top: 0px ;
   height: 400px;
}

.a,.img{
    height: 300px;width: 350px;
    background-color:goldenrod;
    border: 0px solid darkcyan; 
    text-align:center;    
}

article{font-size:large;}
footer{text-align: center;margin-bottom: 10px;font-size: larger;}

